[submodule "setup"]
	path = setup
	url = git@github.com:fleth/stock_setup.git
[submodule "lib"]
	path = lib
	url = https://github.com/fleth/stock_lib.git
[submodule "data"]
	path = data
	url = https://github.com/fleth/stock_data_sample.git
